body {
    margin-top: 50px;
    margin-left: 30px;
}

.order-items {
    display: flex;
    flex-direction: column;
    width: 508px;
    margin: 40px auto;
}

.menu-item-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 35px 0;
    border-bottom: 1px solid #ddd;
}

.emoji-container p {
    margin: 0;
    font-size: 70px;
    width: 90px;
}

.item-container {
    margin-left: 20px;
    flex: 1;
}

.item-container h3,
.item-container p {
    margin: 0;
}

.item-container h3 {
    margin-bottom: 8px;
}

.item-container p {
    margin-bottom: 8px;
}

.item-add-btn button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #aaa;
    background: white;
    font-size: 20px;
}